@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  color: #4793ff;
}
.changeTheme {
  cursor: pointer;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
    color: var(#{--text-color-default});
  }
}
